<h2>create a new author</h2>

<form action="/authors" method="POST" role="form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" required class="form-control" id="author-name" placeholder="Author" name="name">
  </div>
  <div class="form-group">
    <label for="name">Profile Image:</label>
    <input type="url" required class="form-control" id="author-url" placeholder="Image URL" name="image">
  </div>
  <div class="form-group">
    <label for="name">Bio:</label>
    <textarea class="form-control" id="author-bio" placeholder="Bio" name="bio"></textarea>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
